In [48]:
import pandas as pd
just_practice = pd.read_csv('//wnpcdapcpx01/Data/BPM/FTP/WorkforcePlanning/TempContractor/Contractors_Accrual.csv',index_col=0)
columns_a= just_practice[['City','Commit ID','Assignment ID','Cost Code']]
columns_b = just_practice[just_pratice.city=='London'].head()
columns_b.head()

NameError: name 'just_pratice' is not defined

In [12]:
import numpy as np

In [27]:
just_practice.head()

,Temporary Worker First Name,Commit ID,Assignment ID,Cost Code,Hiring Manager Last Name,Hiring Manager First Name,AIM,City,State,Country,...,Job Title Name,Job Title Code,Work Hours,Gross Amount,Client Rebate,Prompt Pay Discount,Tax Amount,Net Client Payable Without Tax,Pay Code,Paying Legal Entity
Temporary Worker Last Name,,,,,,,,,,,,,,,,,,,,,
Radden,Warren,ADCZ2MY,1003,8121029,Scribbins,Peter Alan,E16-4800,London,England,United Kingdom,...,51000 - Senior Business Change Manager,51000,9.0,"£9,063.00",£135.95,£0.00,"£1,812.60","£8,927.06",RT,270
Kelly,Robert,ADCX4QS,1088,8262073,Baillie,Lisa,E13-0100,Brentwood,England,United Kingdom,...,50747 - TA Administrator II,50747,0.0,£0.00,-£0.99,£0.00,£0.02,£0.99,RT,270
Noll,Richard,ADCDXJZ,1132,142500,McMenamy,Brian,076-0100,Woodland Park,New Jersey,United States,...,Project Manager III (Non-IT),JTC_Project Manager III (Non-IT),0.0,$0.00,$0.00,$0.00,$0.00,$0.00,FD,111
Noll,Richard,ADCDXJZ,1132,142500,McMenamy,Brian,076-0100,Woodland Park,New Jersey,United States,...,Project Manager III (Non-IT),JTC_Project Manager III (Non-IT),96.0,"$8,707.20",$130.61,$174.14,$0.00,"$8,402.45",RT,111
Brouillard,Edward,ADCDXF2,1250,142500,McMenamy,Brian,076-0100,Woodland Park,New Jersey,United States,...,Mainframe Programmer II,JTC_Mainframe Programmer II,0.0,$0.00,$0.00,$0.00,$0.00,$0.00,FD,111

In [42]:
columns_a= just_practice[['City','Commit ID','Assignment ID','Cost Code']]
columns_b = Just_practice[just_practice.city=='London']
columns_b.head()

NameError: name 'Just_practice' is not defined